<template name="commitscore">
    <div class="containerdiv">
        <img src="..\..\squeed2.svg" alt="Squeed logo" class="center" width="500px">
    </div>
    <h1 class="title">Commit Score</h1>

    <div class="subtitle">Do you want to commit your score?</div>

    <div class="containerdiv">
        <button type="submitscore" class="btn btnsubmitscore">Yes!</button>
        <button type="submitscore" class="btn btndontsubmitscore">No!</button>
    </div>

    <div class="token">{{adrtoken}}</div>

</template>
