<template name="thankyou">
    <div class="containerdiv center">
        <a href="http://www.squeed.com/" target="_blank">
        <img class="squeed-logo" src="..\..\squeed2.svg" alt="Squeed logo">
        </a>
    </div>
    <h1 class="title">Thank you!</h1>

    <div class="subtitle">Have a look at the <a href="/leaderboard">leaderboard</a></div>

    <div class="containerdiv center">
        <a href="http://www.arcadeforge.io/" target="_blank">
            <img class="arcade-forge-logo" src="..\..\arcadeforge.png" alt="Arcade Forge logo">
        </a>
    </div>

</template>
