<template name="thankyou">
    <div class="containerdiv">
        <a href="http://www.squeed.com/" target="_blank">
        <img src="..\..\squeed2.svg" alt="Squeed logo" class="center" width="500px">
        </a>
    </div>
    <h1 class="title">Thank you!</h1>

    <!--
    <div class="subtitle">Do you want to play again? The cake is in general not a lie.</div>

    <div class="containerdiv">
        <button type="submitscore" class="btn btnsubmitscore">Yes!</button>
    </div>

    <div class="token">{{adrtoken}}</div>
    -->

    <div class="containerdiv">
        <a href="http://www.arcadeforge.io/" target="_blank">
        <img src="..\..\arcadeforge.png" alt="Arcade Forge logo" class="center" width="200px">
            </a>
    </div>

</template>
