* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 3em 0;
    padding: 0;
}

.btnsubmitscore {
    color: black;
    background-color: #f8be22;
    border-color: #f8b322;
    width: 100px;
    height: 40px;
    margin: 20px;
}

.outer {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
}

.logo {
    background: url('squeed2.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em;
    margin: 0 auto .75em;
    width: 1.5em;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .3em;
    margin: 0 0 .25em;
    text-align: center;
    text-indent: .3em;
    text-transform: uppercase;
    color: white;
}

.subtitle {
    color: white;
    font-size: .875em;
    margin-bottom: 2em;
    text-align: center;
}

.leaderboard {
/*    border-top: 1px solid #f1f1f1; */
    counter-reset: ol-counter;
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0;
}



.player {
    border-bottom: 1px solid #f1f1f1;
    padding: .5em 0;
    position: relative;
    overflow: hidden;
    transition: background 300ms ease-out;
/*    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;*/
}


.player3 {
    padding: .5em 0;
    position: relative;
    overflow: hidden;
    transition: background 300ms ease-out;
}

.player:before {
    color: white;
    content: counter(ol-counter);
    counter-increment: ol-counter;
    display: inline-block;
    font-weight: 500;
    line-height: 4em;
    text-align: center;
    vertical-align: middle;
    width: 4em;
}

.player .name {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 300;
    vertical-align: middle;
    color: whitesmoke;
}

.player .prog {
    display: inline-block;
    font-size: 1.75em;
    font-weight: 600;
    vertical-align: middle;
    color: white;
}

.player .email {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 300;
    vertical-align: middle;
    color: #f8be22;
}

.player .score {
    color: white;
    display: block;
    float: right;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2.4em;
    padding-right: 1.25em;
}

.btnrestart {
    color: black;
    background-color: #f8be22;
    border-color: #f8b322;
}

h2 {
    color: #f8be22;
}