<head>
    <title>Squeederboard</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta charset="UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css' />
</head>

<template name="leaderboard">
    <div class="containerdiv center">
        <img  class="squeed-logo" src="squeed2.svg" alt="Squeed logo">
    </div>
    <div class="outer">
        <h1 class="title">Leaderboard</h1>
        <div class="subtitle">Squeed Date-IT</div>
        <ol class="leaderboard">
            {{#each players}}
            {{> player}}
            {{/each}}
        </ol>
    </div>
    <div class="containerdiv center">
        <img class="arcade-forge-logo" src="arcadeforge.png" alt="Arcade Forge logo">
    </div>
</template>

<template name="player">
    <li class="player {{selected}}">
        <span class="prog">{{prog}}</span>
        <span class="score">{{score1}}</span>
    </li>
</template>

<template name="admPlayer">
    <li class="player {{selected}}">
        <span class="name">{{name}}</span>
        <span class="email">{{email}}</span>
        <span class="prog">{{prog}}</span>
        <span class="score">{{score}}</span>
    </li>
</template>
