<template name="register">
    <div class="containerdiv">
        <a href="http://www.squeed.com/" target="_blank">
        <img src="squeed2.svg" alt="Squeed logo" class="center" width="500px">
        </a>
    </div>
    <h1 class="titleregister">Register</h1>
    <div class="subtitle">Enter your information</div>
    <div class="outer">
        {{#autoForm id="registrationForm" schema=registrationSchema type="method" validation="blur" meteormethod="submitRegistrationForm" label-style="color:white"}} {{> afQuickField name="email" label-style="color:white"}} {{> afQuickField name="name" label-style="color:white"}} {{> afQuickField name="prog" label-style="color:white"}} {{> afQuickField name="focus" label-style="color:white"}} {{> afQuickField name="phone" label-style="color:white"}}
        <div>
            <button type="submit" class="btn btnregister">Register</button>
        </div>
        {{/autoForm}}
    </div>
    <div class="containerdiv">
        <a href="http://www.arcadeforge.io/" target="_blank">
        <img src="arcadeforge.png" alt="Arcade Forge logo" class="center" width="200px">
            </a>
    </div>
</template>
